.link {
  color: #069;
  cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.metric {
    font-weight: bold; 
    font-size: 1.20rem;
}

.value {
    font-weight: normal; 
    font-size: 1.10rem;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.black {
    color: black;
}